@charset "UTF-8";
table{
	font-size: 0.7rem;
	text-align: center;
}
.nothing{
	padding-top: 20px;
	padding-bottom: 20px;
}
thead{
	background-color: #014099;
	color: white;
}
.search{
	text-align: right;
	margin-bottom: 15px;
}
.paging{
	text-align: center;
	color: #078399;
	margin-top: 50px;
	
}
.btn-outline-success {
    color: #014099;
    border-color: #014099;
}
.btn-outline-success:hover {
	background-color: #014099;
}
.formRight{
	display: block;
}